.allMachines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.machine-card {
  color: white;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.5);
  min-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 0;
  overflow: hidden;
  background-image: url(https://res.cloudinary.com/bfrest/image/upload/v1532729559/foxridge/IMG_1333.jpg);
  background-size: conatin;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-origin: padding-box;
  max-height: 22rem;
  border-radius: 5px;

  .bottomBtns {
    margin-top: 71%;

    button {
      border: none;
      background-color: none;
      padding: 27px;
      width: 50%;
      color: white;
      font-size: 1.2rem;
    }
  }
}

.serviceBtn {
  background-color: #eac43d;
  border-bottom-left-radius: 5px;
}

.inspectionBtn {
  background-color: #2a5c99;
  border-bottom-right-radius: 5px;
}

.serviceBtn,
.inspectionBtn {
  z-index: 10;
}

.moreInfo {
  align-self: flex-end;
  margin: 0.5rem 0.5rem 0 0;

  button {
    background-color: none;
    border: 2px solid black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 5px;
  }
}

.imgOverlay {
  background-color: rgba(154, 160, 185, 0.9);
  height: 100px;
  width: 100px;
  z-index: 10;
}
